@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 530px) {
  .sidebar-menu {
    width: 350px;
  }
}

/* ===========
Scroll bar 
============*/

/* Light mode */
[data-theme='light'] {
  --bg-primary: #afafaf;
  --border-color: #dddddd;
}

/* Dark mode */
[data-theme='dark'] {
  --bg-primary: #4a5568;
  --border-color: #121822;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-primary) var(--border-color);
}
